/ML/.ipynb_checkpoints
/ML/data/.ipynb_checkpoints
/ML/models/.ipynb_checkpoints
/ML/notebooks/.ipynb_checkpoints
/ML/outputs/.ipynb_checkpoints
/ML/src/.ipynb_checkpoints
/ML/models/myvenv
/ML/notebooks/Untitled.ipynb
/ML/models/yolo_fine_tuned/EmergencyVehicleDataSet
/ML/models/yolo_fine_tuned/Untitled.ipynb
/ML/models/yolo_fine_tuned/.ipynb_checkpoints
/ML/src/__pycache__
/backend/node_modules
/ML/outputs/results/.ipynb_checkpoints